# Data Science Tools and Ecosystem

## Author
# Juayl

**Objectives**
- most popular languages
- common libraries
- tools
- examples

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the most popular used languages for data science are
#### 1. Python
#### 2. R
#### 3. SQL

### Some of the commonly used libraries used by Data Scientists include
#### 1. Github
#### 2. Pandas
#### 3. NumPy

| Data Science Tools |
| -------------|
| Apache Hadoop | 
| SQL |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

###  This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335